.container {
  max-width: 1000px;
  margin: 0 auto;
}

.links-container {
  display: flex;
  gap: 24px;
}

a {
  color: inherit;
  text-decoration: none;
  border: 1px solid black;
  padding: 16px 8px;
}